<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
  <div class="payment-method-title field choice" style="display: flex">
    <input type="radio"
           name="payment[method]"
           class="radio"
           data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
    <label class="label" data-bind="attr: {'for': getCode()}" style="display: flex; align-items: center; gap: 4px">
      <!-- ko if: displayLogo == 1 -->
      <img data-bind="attr: {src: getPaymentIcon(), alt: getTitle()}"
           style="max-width: 70px; max-height: 30px;"/>
      <!--/ko-->
      <span data-bind="text: getTitle()" style="color: #696969;"></span>
    </label>
  </div>
  <div class="" style="margin-bottom: 20px; max-height: 30px;">
    <!-- ko if: getOneliner() -->
    <p data-bind="text: getOneliner()"></p>
    <!-- /ko -->
    <span data-bind="i18n: 'from '"></span>
    <span data-bind="text: getMonthlyPayment() "></span>
    <span data-bind="i18n: ' / month'"></span>
  </div>
    <div class="payment-method-content">
        <!-- ko if: getDescription() -->
        <p data-bind="text: getDescription()"></p>
        <!-- /ko -->
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
